.mainContent {
    margin-left: 232px;
    padding: 96px 96px 0 96px;
    background-color: #f5f6f7;
    min-height: calc(100vh - 96px);
    font-size: 20px;
}

::placeholder {
    color: #D1D1D1;
}

h1 {
    padding-top: 100px;
    font-size: 61px;
    margin-bottom: 32px;
}

p {
    padding-bottom: 8px;
    padding-top: 12px;
}

span {
    color: #FF8190;
}

.taskForm {
    display: flex;
}

.taskSeperator {
    width: 2px;
    border-radius: 2px;
    background-color: #D1D1D1;
    height: 424px;
    margin-left: 40px;
    margin-right: 40px;
}

.required {
    position: absolute;
    top: 926px;
    font-size: 16px;
}

input {
    width: 440px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.description {
    width: 440px;
    height: 120px;
    resize: none;
    color: #D1D1D1;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}

.assignedTo {}

.dueDate {
    display: flex;
}

.calendar {
    height: 20px;
    position: relative;
    right: 43px;
    align-self: center;
    cursor: pointer;
}

::-webkit-datetime-edit-day-field {
    color: #D1D1D1;
}

::-webkit-datetime-edit-text {
    color: #D1D1D1;
}

::-webkit-datetime-edit-month-field {
    color: #D1D1D1;
}

::-webkit-datetime-edit-year-field {
    color: #D1D1D1;
}

::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.category {
    width: 440px;
    height: 38px;
}

.subtasks {
    width: 440px;
    height: 38px;
}