.mainContent {
    margin-left: 232px;
    padding: 96px 96px 0 96px;
    background-color: #f5f6f7;
    min-height: calc(100vh - 96px);
}

h1 {
    font-size: 61px;
}

h2 {
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 800;
}

h3 {
    font-size: 20px;
    font-weight: 800;
}

.backButtonBox {
    margin-top: 100px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backButton {
    cursor: pointer;
}

p {
    margin-bottom: 24px;
}

ol li {
    font-weight: 800;
    font-size: 21px;
}